form{
    max-width: 200px;
    margin: 50px auto;
    padding: 50px;
    background-color: #ed8c8c;
    border: 2px solid;
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(0,0,0,0.1);
    text-align: left;
    margin-left: 10px;
    padding-top: 10px;

}
body{
    background-color: #f2bfbf;
}
.button1{
    cursor: pointer;
    background-color: aqua;
    color: rgb(193, 12, 12);
    height: 35px;
    border-radius: 17px;
    padding-top: 10px;
    margin: 5px;
    align-items: center;
}
.button1:hover{
background-color: black;
color: white;
}
.button1:active{
    background-color: blue;
    color: rgb(210, 221, 12);
}
.start{
    color: rgb(49, 71, 71);
    font-size: 47px;
    font: small-caps;
}
.pp{
    color: blue;
}
.ss{
    color: rgb(25, 93, 93);
}
.sm{
    color: blue;
}
.mis{
    font-size: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
color: rgb(23, 27, 27);
}
.w{
    color: red;
}
.x{
    color: greenyellow;
    font-size: 37px;
}
.end{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 23px;
}
.pq{
    font-size: 22px;
    color: red;
}
.f2{
    max-width: 400px;
    margin: 50px auto;
    padding: 48px;
    background-color: #efcff0;
    border: 2px solid;
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(0,0,0,0.1);
    text-align: left;
    margin-left: 10px;
    padding-top: 10px;
    max-height: 600px;
}
.link{
    display: inline-flex;
}
.link:hover{
    background-color: black;
    color: yellowgreen;
    cursor: pointer;
}
.link:active{
background-color: rgb(141, 20, 20);
color: white;
}
.ff2{
border-radius: 7.6px;
color: red;
background-color: wheat;
cursor: pointer;
padding: 10px 15px;
margin-top: 10px;

}

  input[type="text"] {
    margin-bottom: 10px; /* adds space below each text box */
    display: flexbox;
  }
  .h3{
    text-align: center;
  }
  .tt{
    display: inline-flex;
    padding: 20px;
    background-color: rgb(164, 240, 150);
    color: yellow;
  }
  .end1{
    color: grey;
    font-weight: bolder;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 28px;
  }
  .s1{
    background-image: <img src="4k Ultra HD Environm.png"> ;
  }
  .boddy{
    background-color: yellow;
    color: rgba(2, 26, 2, 0);
  }
  .form12{
    max-width: 200px;
    color: black;
    margin: 50px auto;
    padding: 50px;
    background-color: #c61c1c;
    border: 2px solid;
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(0,0,0,0.1);
    text-align: left;
    margin-left: 10px;
    padding-top: 10px;

  }
  .QW{
    color: black;
  }

